<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated onlinejudge -->
      <package
            uri="http://www.example.org/onlinejudge"
            class="fr.obs.dsl.tuto.onlinejudge.OnlinejudgePackage"
            genModel="model/onlinejudge.genmodel"/>
   </extension>

</plugin>
